/* plus-action for albums */
.thumbnail span.plus {
	/*position: absolute;*/
	/*top: 55px;*/
	/*left: 64px;*/
	/*background-color: #000;*/
	padding: 4px 10px;
	/*border-radius: 100%;*/
	display: none;
}
	.thumbnail span.plus:before {
		content: '+';
		color: #fff;
		font-size: 26px;
	}
.thumbnail:hover span.plus,
.thumbnail.has-contextmenu span.plus {
	display: inline-block;
}

@media screen and (max-width: 1199px) {
	.thumbnail li.action-item .action-item-btn {
		height: 25px;
		width: 25px;
		line-height: 26px;
	}

	.thumbnail .action-item.plus-container span.plus {
		padding: 2px;
	}
		.thumbnail .action-item.plus-container span.plus::before {
			font-size: 20px;
		}
}
.thumbnail span.plus {
	/*position: absolute;*/
	/*top: 55px;*/
	/*left: 64px;*/
	/*background-color: #000;*/
	padding: 4px 10px;
	/*border-radius: 100%;*/
	display: none;
}
/*.thumbnail span.plus:hover {*/
	/*!*-webkit-transform: scale(1.2);*!*/
	/*!*-moz-transform: scale(1.2);*!*/
	/*!*-ms-transform: scale(1.2);*!*/
	/*!*transform: scale(1.2);*!*/
/*}*/

/* end of plus-action for albums */