/* plus-action for albums */
.thumbnail span.plus {
	padding: 4px 10px;
	display: none;
}
	.thumbnail span.plus:before {
		content: '+';
		color: #fff;
		font-size: 26px;
	}
.thumbnail:hover span.plus,
.thumbnail.has-contextmenu span.plus {
	display: inline-block;
}

@media screen and (max-width: 1199px) {
	.thumbnail li.action-item .action-item-btn {
		height: 25px;
		width: 25px;
		line-height: 26px;
	}

	.thumbnail .action-item.plus-container span.plus {
		padding: 2px;
	}
		.thumbnail .action-item.plus-container span.plus::before {
			font-size: 20px;
		}
}
.thumbnail span.plus {
	padding: 4px 10px;
	display: none;
}

/* end of plus-action for albums */