html.deezer-enhancement.dark-theme body.naboo,
html.deezer-enhancement.dark-theme body.naboo .page-topbar,
html.deezer-enhancement.dark-theme body.naboo .page-main {
    background-color: #343442;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 12px 0px;
}

html.deezer-enhancement.dark-theme #dzr-app .btn-default,
html.deezer-enhancement.dark-theme #dzr-app .btn-default:hover,
html.deezer-enhancement.dark-theme #dzr-app .btn-block,
html.deezer-enhancement.dark-theme #dzr-app .btn-block:hover {
    background-color: transparent;
    color: #92929d;
    box-shadow: none;
}

html.deezer-enhancement.dark-theme #dzr-app .heading-1,
html.deezer-enhancement.dark-theme #dzr-app .heading-2,
html.deezer-enhancement.dark-theme #dzr-app .heading-3,
html.deezer-enhancement.dark-theme #dzr-app .heading-4,
html.deezer-enhancement.dark-theme #dzr-app .heading-5,
html.deezer-enhancement.dark-theme #dzr-app .heading-1 *,
html.deezer-enhancement.dark-theme #dzr-app .heading-2 *,
html.deezer-enhancement.dark-theme #dzr-app .heading-3 *,
html.deezer-enhancement.dark-theme #dzr-app .heading-4 *,
html.deezer-enhancement.dark-theme #dzr-app .heading-5 * {
    color: #92929d;
}

html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content,
html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content:nth-child(2n) {
    background-color: #343442;
}

/* page player */

html.deezer-enhancement.dark-theme body.naboo .page-player .player-bottom {
    background-color: #343442;
    color: #92929d;
    box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.12);
}
    html.deezer-enhancement.dark-theme body.naboo .page-player .player-bottom .svg-icon-group-btn {
        color: inherit;
    }

    html.deezer-enhancement.dark-theme body.naboo .page-player .player-bottom .player-track .track-heading {
        color: inherit;
    }

    html.deezer-enhancement.dark-theme body.naboo .page-player .player-bottom .player-track .track-seekbar .slider-track-active {
        background-color: #23232c;
    }

    html.deezer-enhancement.dark-theme body.naboo .page-player .player-bottom .marquee-gradient {
        background-image: none;
    }

html.deezer-enhancement.dark-theme body.naboo .page-player .player-full {
    background-color: #343442;
    color: #92929d;
}
    html.deezer-enhancement.dark-theme body.naboo .page-player .player-full .lyrics-line {
        color: inherit;
    }

    html.deezer-enhancement.dark-theme body.naboo .page-player .player-full .lyrics-spinner {
        color: inherit;
    }

    html.deezer-enhancement.dark-theme body.naboo .page-player .player-full .lyrics-gradient {
        background-image: none;
    }

/* page player end */

/* playlist page and queue grid */

html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content .catalog-header .header-info .heading-link {
    color: #92929d;
}

html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content .datagrid-toolbar .toolbar-search input {
    border-color: #444;
    background-color: #92929d;
    color: #444;
}

html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content .datagrid-toolbar .toolbar-search input::placeholder {
    color: #fff;
}

html.deezer-enhancement.dark-theme #dzr-app .datagrid {
    background-color: #343442;
}
    html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-header .datagrid-row {
        background-color: inherit;
    }

    html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-row:hover {
        background-color: #23232C;
    }
        html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-row.has-contextmenu {
            background-color: inherit;
        }

        html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-row .datagrid-action.is-active,
        html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-row .datagrid-action:hover {
            background-color: transparent;
        }

        html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-row.song .datagrid-label {
            color: #92929d;
        }

        html.deezer-enhancement.dark-theme #dzr-app .datagrid .datagrid-row.song.active .datagrid-label {
            color: #5899d0;
        }

html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content .catalog-tab-comment .catalog-tab-box {
    background-color: transparent;
}
    html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog .catalog-content .catalog-tab-comment .catalog-tab-box textarea {
        border-color: #444;
        background-color: #92929d;
        color: #444;
    }

/* playlist page end */

/* artist page etc */

html.deezer-enhancement.dark-theme #dzr-app .page-main .banner-header,
html.deezer-enhancement.dark-theme #dzr-app .page-main .navbar {
    background-color: inherit;
}
    html.deezer-enhancement.dark-theme #dzr-app .page-main .navbar .navbar-nav > li > a:hover,
    html.deezer-enhancement.dark-theme #dzr-app .page-main .navbar .navbar-nav > li.active > a,
    html.deezer-enhancement.dark-theme #dzr-app .page-main .navbar .navbar-nav > li > button:hover {
        color: #bebebe;
    }
    html.deezer-enhancement.dark-theme #dzr-app .page-main .banner-header .icon:before {
        color: #92929d;
    }

html.deezer-enhancement.dark-theme #dzr-app .page-main .catalog-content .container .content-left,
html.deezer-enhancement.dark-theme #dzr-app .page-main .catalog-content .has-white-bg {
    background-color: inherit;
}
    html.deezer-enhancement.dark-theme #dzr-app .page-main .catalog-content .container .content-left .catalog-tab-box {
        background-color: inherit;
    }

html.deezer-enhancement.dark-theme #dzr-app .page-main .datagrid .datagrid-row .popularity-note .datagrid-note {
    background-color: #32323d;
}
    html.deezer-enhancement.dark-theme #dzr-app .page-main .datagrid .datagrid-row .popularity-note .datagrid-note.active {
        background-color: #c2c2ca;
    }

/* artist page etc end */

/* hear this page */

html.deezer-enhancement.dark-theme #dzr-app .page-main #page_feed .card,
html.deezer-enhancement.dark-theme #dzr-app .page-main #page_feed .card .footer {
    background-color: inherit;
}
    html.deezer-enhancement.dark-theme #dzr-app .page-main #page_feed .card .visual {
        border: none;
    }

/* hear this page end */

/* search page */

html.deezer-enhancement.dark-theme #dzr-app .page-main .page-naboo-search,
html.deezer-enhancement.dark-theme #dzr-app .page-main .page-naboo-search .search-header,
html.deezer-enhancement.dark-theme #dzr-app .page-main .page-naboo-search .search-suggest,
html.deezer-enhancement.dark-theme #dzr-app .page-main .page-naboo-search .datagrid-container {
    background-color: inherit;
}
    html.deezer-enhancement.dark-theme #dzr-app .page-main .page-naboo-search .search-suggest .nano-card-item {
        background-color: inherit;
    }
        html.deezer-enhancement.dark-theme #dzr-app .page-main .page-naboo-search .search-suggest .nano-card-item .nano-card-picture {
            border: none;
        }

/* search page end */

/* my music page */

html.deezer-enhancement.dark-theme #dzr-app .page-main .naboo-catalog {
    background-color: inherit;
}

/* my music page end */